<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="/base_layout"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Spring-Web Manage</title>
    <link rel="stylesheet" href="/css/md-default.css"/>
    <script src="/script/md-default.js"/>
    <link rel="stylesheet" href="/css/manage/manage_layout.css"/>
</head>
<body layout:fragment="main_content">
<nav>
    <div class="nav-header">
        <div class="nav-header-left">
            <a href="http://ramer.iask.in">Spring Web</a>
        </div>
        <div class="nav-header-right">
            <ul>
                <li>Welcome,</li>
                <li th:inline="text">[[${session.user.username}]]</li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
<nav>
    <ul class="nav-sidebar">
        <li><a href="/manage">New Topic</a></li>
    </ul>
    <div class="nav-footer"></div>
</nav>
<div layout:fragment="content_body"/>
</body>
</html>