# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to git
*.doc	 diff=textplain
*.DOC	 diff=textplain
*.docx diff=textplain
*.DOCX diff=textplain
*.dot  diff=textplain
*.DOT  diff=textplain
*.pdf  diff=textplain
*.PDF	 diff=textplain
*.rtf	 diff=textplain
*.RTF	 diff=textplain

*.html linguist-language=java
*.css linguist-language=java
*.js linguist-language=java