@charset "utf-8";
.form-container {
    width: 50%;
    margin: auto;
    margin-top: 150px;
    box-shadow: 1px 3px 5px #eee;
    min-width: 430px;
    max-width: 550px;
}

.form-container h1 {
    color: #212121;
    text-align: center;
}

.md-form {
    width: 250px;
    margin: auto;
}