@charset "utf-8";
body, table, tr, td {
    font: 400 14px/20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, tahoma, arial, simsun, 宋体;
}

hr {
    width: 100%;
    background: #E0E0E0;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
    border: none;
    width: 100%;
    min-width: 800px;
    text-align: left;
    color: #333333;
    box-shadow: 1px 2px 5px #E0E0E0;
}

table tr {
    border-bottom: 1px solid #E0E0E0;
}

table tbody tr:nth-of-type(2n), table tbody tr:nth-of-type(2n) input {
    background: #eee;
}

table tbody tr:nth-of-type(2n+1) {
    background: #fff;
}

table td, table th {
    line-height: 35px;
    width: 23%;
    padding-left: 6px;
    border-left: 1px solid #E0E0E0;
    vertical-align: middle;
}

table td:first-of-type, table th:first-of-type {
    border-left: none;
    width: 8%;
}

table td:last-of-type {
    padding: 0;
}

.btnUpdate, .btnDelete {
    cursor: pointer;
    outline: none;
    border: none;
    margin: 0;
    width: 50%;
    display: block;
    float: left;
    padding: 10px 5px;
    background: transparent;
    border-right: 1px solid #E0E0E0;
    font: 400 14px/15px "微软雅黑";
    position: relative;
    transition: background .5s;
}

.btnUpdate:hover, .btnDelete:hover {
    background: #444;
    color: #fff;
}

.btnUpdate:before, .btnDelete:before, .btnUpdate:after, .btnDelete:after {
    visibility: hidden;
    position: absolute;
    top: 9px;
    width: 12px;
    color: #fff;
    overflow: hidden;
    transform: scale(2.5);
    transition: all .5s;
}

.btnUpdate:before, .btnDelete:before {
    content: '﹥';
    left: -4px;
}

.btnUpdate:after, .btnDelete:after {
    content: '﹤';
    right: 0px;
}

.btnUpdate:hover:before, .btnDelete:hover:before {
    visibility: visible;
    left: calc(50% - 42px);
}

.btnUpdate:hover:after, .btnDelete:hover:after {
    visibility: visible;
    right: calc(50% - 38px);
}

input[type="text"] {
    width: 100%;
    margin: 0;
    display: block;
    outline: none;
    padding: 8px 5px;
    box-sizing: border-box;
    border: none;
}