@charset "utf-8";
@font-face {
    font-family: Roboto;
    src: url('/font/Roboto.woff2') format('woff2');
}

.md {
    font-size: 14px;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.md-dense {
    font-size: 13px;
}

.md-btn {
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    height: 36px;
    min-width: 88px;
}

.md-btn[disabled] {
    background: rgba(0, 0, 0, .21);
    cursor: not-allowed;
}

.md-raised-btn {
    padding: 0 16px;
    background: #2196F3;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.md-flat-btn {
    padding: 0 8px;
    background: rgba(66, 66, 66, 0);
    color: #212121;
}

.md-flat-btn:hover {
    transition: all .5s;
    background: rgba(66, 66, 66, 0.2);
}

.md-dialog {
    padding: 24px;
}

.md-dialog-btn {
    height: 52px;
}

.md-dialog-btn button:first-of-type {
    margin-left: 4px;
}

.md-dialog-btn button:last-of-type {
    margin-right: 4px;
}

.md-divider {
    border: none;
    height: 1px;
    background: rgba(0, 0, 0, .12);
}

.md-divider-dark {
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, .12);
}