<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="/base-layout" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>SpringWeb with Thymeleaf DEMO</title>
    <link rel="stylesheet" href="/css/common-tools-v0.0.1.css"/>
    <link rel="stylesheet" href="/css/md-default.css"/>
    <link rel="stylesheet" href="/css/hello-v1.0.0.css"/>
    <script src="/script/md-default.js"></script>
    <script src="/script/common-tools-v0.0.1.js"></script>
    <script src="/script/hello-v1.0.0.js"></script>
    <script th:inline="javascript">
        $(function () {
            /*<![CDATA[*/
            for (var i = 0; i < 3; i++) {
                console.debug("i= " + i);
            }
            /*]]>*/
        })
    </script>
</head>
<body layout:fragment="main-content">
<section>
    <h1>Hello, Spring Boot</h1>
    <address th:inline="text">by [[${user.username}]]</address>
</section>
<hr class="md-divider"/>
<section>
    <h1>Using Thymeleaf</h1>
    <button id='addBtn' class='md md-btn md-raised-btn'>NEW</button>
    <form class="user-form">
        <div class="md-form">
            <div>
                <input type="text" id="username" name="username"/>
                <label for="username">Username</label>
            </div>
            <div>
                <input type="text" id="password" name="password"/>
                <label for="password">Password</label>
            </div>
            <div class="btn-container">
                <input type="reset" class="md md-btn md-raised-btn" value="reset"/>
                <input type="submit" class="md md-btn md-raised-btn" id="newUser" value="submit"/>
            </div>
        </div>
    </form>
    <table class="user-table">
        <thead>
        <tr>
            <th>No.</th>
            <th>Username</th>
            <th>Password</th>
            <th>Since</th>
            <th>Operate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u,uStat:${users}" th:if="not ${#lists.isEmpty(users)}">
            <td>
                <input type="text" th:value="${uStat.count}" th:attr="uid=${u.id}"/>
            </td>
            <td>
                <input type="text" th:value="${u.username}" class="username"/>
            </td>
            <td>
                <input type="text" th:value="${u.password}" class="password"/>
            </td>
            <td th:text="${#dates.format(u.createTime,'yyyy/MM/dd')}"></td>
            <td>
                <button class="md-btn md-flat-btn btnUpdate">Update</button>
                <button class="md-btn md-flat-btn btnDelete">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <h1>Cascade data</h1>
    <p th:inline="text">Username: [[${address.user.username}]]</p>
    <h1>Session data</h1>
    <p th:text="${'Username: '+session.usr.username}"></p>
    <h1>Iteration cascade properties</h1>
    <th:block th:each="addr:${session.usr.addresses}">
        <p th:text="${'Location: '+addr.location}"></p>
    </th:block>
</section>
<hr class="md-divider"/>
<div class="ajax-table-container"></div>
</body>
</html>